@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.04); // Легке, елегантне збільшення на 4%
    }

    100% {
        transform: scale(1);
    }
}

.finalScreen {
    @include m.fullscreen-layout();

    .content {
        @include m.content-layout;
        position: relative;
        z-index: 1;
    }

    .title {
        @include m.title-base(v.$color-text-main);
        animation: pulse 2.5s ease-in-out infinite;

        // Вказуємо браузеру оптимізувати цей елемент під GPU-анімацію
        will-change: transform;
    }

}