@use 'variables' as v;
@use 'mixins';
@use 'reset'; // Імпортуємо скидання стилів


body {
    font-family: v.$font-main;
    font-size: v.$size-body-text;
    background-color: #f6f8f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    // Робимо так, щоб контент ніколи не розповзався ширше ніж комп'ютерний монітор
    max-width: 1200px;

    // Центруємо весь сайт на екрані ПК
    margin: 0 auto;

    // Задаємо ті самі затишні відступи від країв екрана (повітря з боків)
    padding: 0 clamp(15px, 4vw, 60px);
}