@use 'reset'; // Імпортуємо скидання стилів
@use 'variables';
@use 'mixins';


body {
    margin: 0;
    font-family: sans-serif;
}

#root {
    width: 100%;
    // Робимо так, щоб контент ніколи не розповзався ширше ніж комп'ютерний монітор
    max-width: 1200px;

    // Центруємо весь сайт на екрані ПК
    margin: 0 auto;

    // Задаємо ті самі затишні відступи від країв екрана (повітря з боків)
    padding: 0 clamp(15px, 4vw, 60px);
}