@use '../../styles/variables' as v;

.divider {
    display: block;
    margin: clamp(6px, 1.2dvh, 16px) auto;
    color: v.$color-text-accent-gold;
    width: clamp(120px, 20vw, 180px);
    height: auto;
    flex-shrink: 0;
}
